
@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('Iosevka-Thin.WOFF2') format('woff2'), url('Iosevka-Thin.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: normal;
	src: url('Iosevka-ExtendedThin.WOFF2') format('woff2'), url('Iosevka-ExtendedThin.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('Iosevka-ThinOblique.WOFF2') format('woff2'), url('Iosevka-ThinOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('Iosevka-ThinOblique.WOFF2') format('woff2'), url('Iosevka-ThinOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: oblique;
	src: url('Iosevka-ExtendedThinOblique.WOFF2') format('woff2'), url('Iosevka-ExtendedThinOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	src: url('Iosevka-ExtendedThinOblique.WOFF2') format('woff2'), url('Iosevka-ExtendedThinOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('Iosevka-ThinItalic.WOFF2') format('woff2'), url('Iosevka-ThinItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: italic;
	src: url('Iosevka-ExtendedThinItalic.WOFF2') format('woff2'), url('Iosevka-ExtendedThinItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('Iosevka-ExtraLight.WOFF2') format('woff2'), url('Iosevka-ExtraLight.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: normal;
	src: url('Iosevka-ExtendedExtraLight.WOFF2') format('woff2'), url('Iosevka-ExtendedExtraLight.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('Iosevka-ExtraLightOblique.WOFF2') format('woff2'), url('Iosevka-ExtraLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('Iosevka-ExtraLightOblique.WOFF2') format('woff2'), url('Iosevka-ExtraLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: oblique;
	src: url('Iosevka-ExtendedExtraLightOblique.WOFF2') format('woff2'), url('Iosevka-ExtendedExtraLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	src: url('Iosevka-ExtendedExtraLightOblique.WOFF2') format('woff2'), url('Iosevka-ExtendedExtraLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('Iosevka-ExtraLightItalic.WOFF2') format('woff2'), url('Iosevka-ExtraLightItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: italic;
	src: url('Iosevka-ExtendedExtraLightItalic.WOFF2') format('woff2'), url('Iosevka-ExtendedExtraLightItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('Iosevka-Light.WOFF2') format('woff2'), url('Iosevka-Light.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: normal;
	src: url('Iosevka-ExtendedLight.WOFF2') format('woff2'), url('Iosevka-ExtendedLight.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('Iosevka-LightOblique.WOFF2') format('woff2'), url('Iosevka-LightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('Iosevka-LightOblique.WOFF2') format('woff2'), url('Iosevka-LightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: oblique;
	src: url('Iosevka-ExtendedLightOblique.WOFF2') format('woff2'), url('Iosevka-ExtendedLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	src: url('Iosevka-ExtendedLightOblique.WOFF2') format('woff2'), url('Iosevka-ExtendedLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('Iosevka-LightItalic.WOFF2') format('woff2'), url('Iosevka-LightItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: italic;
	src: url('Iosevka-ExtendedLightItalic.WOFF2') format('woff2'), url('Iosevka-ExtendedLightItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('Iosevka-Regular.WOFF2') format('woff2'), url('Iosevka-Regular.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('Iosevka-Extended.WOFF2') format('woff2'), url('Iosevka-Extended.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('Iosevka-Oblique.WOFF2') format('woff2'), url('Iosevka-Oblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('Iosevka-Oblique.WOFF2') format('woff2'), url('Iosevka-Oblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('Iosevka-ExtendedOblique.WOFF2') format('woff2'), url('Iosevka-ExtendedOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('Iosevka-ExtendedOblique.WOFF2') format('woff2'), url('Iosevka-ExtendedOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('Iosevka-Italic.WOFF2') format('woff2'), url('Iosevka-Italic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('Iosevka-ExtendedItalic.WOFF2') format('woff2'), url('Iosevka-ExtendedItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('Iosevka-Medium.WOFF2') format('woff2'), url('Iosevka-Medium.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: normal;
	src: url('Iosevka-ExtendedMedium.WOFF2') format('woff2'), url('Iosevka-ExtendedMedium.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('Iosevka-MediumOblique.WOFF2') format('woff2'), url('Iosevka-MediumOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('Iosevka-MediumOblique.WOFF2') format('woff2'), url('Iosevka-MediumOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: oblique;
	src: url('Iosevka-ExtendedMediumOblique.WOFF2') format('woff2'), url('Iosevka-ExtendedMediumOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	src: url('Iosevka-ExtendedMediumOblique.WOFF2') format('woff2'), url('Iosevka-ExtendedMediumOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('Iosevka-MediumItalic.WOFF2') format('woff2'), url('Iosevka-MediumItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: italic;
	src: url('Iosevka-ExtendedMediumItalic.WOFF2') format('woff2'), url('Iosevka-ExtendedMediumItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('Iosevka-SemiBold.WOFF2') format('woff2'), url('Iosevka-SemiBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: normal;
	src: url('Iosevka-ExtendedSemiBold.WOFF2') format('woff2'), url('Iosevka-ExtendedSemiBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('Iosevka-SemiBoldOblique.WOFF2') format('woff2'), url('Iosevka-SemiBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('Iosevka-SemiBoldOblique.WOFF2') format('woff2'), url('Iosevka-SemiBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: oblique;
	src: url('Iosevka-ExtendedSemiBoldOblique.WOFF2') format('woff2'), url('Iosevka-ExtendedSemiBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	src: url('Iosevka-ExtendedSemiBoldOblique.WOFF2') format('woff2'), url('Iosevka-ExtendedSemiBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('Iosevka-SemiBoldItalic.WOFF2') format('woff2'), url('Iosevka-SemiBoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: italic;
	src: url('Iosevka-ExtendedSemiBoldItalic.WOFF2') format('woff2'), url('Iosevka-ExtendedSemiBoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('Iosevka-Bold.WOFF2') format('woff2'), url('Iosevka-Bold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('Iosevka-ExtendedBold.WOFF2') format('woff2'), url('Iosevka-ExtendedBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('Iosevka-BoldOblique.WOFF2') format('woff2'), url('Iosevka-BoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('Iosevka-BoldOblique.WOFF2') format('woff2'), url('Iosevka-BoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('Iosevka-ExtendedBoldOblique.WOFF2') format('woff2'), url('Iosevka-ExtendedBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('Iosevka-ExtendedBoldOblique.WOFF2') format('woff2'), url('Iosevka-ExtendedBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('Iosevka-BoldItalic.WOFF2') format('woff2'), url('Iosevka-BoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('Iosevka-ExtendedBoldItalic.WOFF2') format('woff2'), url('Iosevka-ExtendedBoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('Iosevka-ExtraBold.WOFF2') format('woff2'), url('Iosevka-ExtraBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: normal;
	src: url('Iosevka-ExtendedExtraBold.WOFF2') format('woff2'), url('Iosevka-ExtendedExtraBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('Iosevka-ExtraBoldOblique.WOFF2') format('woff2'), url('Iosevka-ExtraBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('Iosevka-ExtraBoldOblique.WOFF2') format('woff2'), url('Iosevka-ExtraBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: oblique;
	src: url('Iosevka-ExtendedExtraBoldOblique.WOFF2') format('woff2'), url('Iosevka-ExtendedExtraBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	src: url('Iosevka-ExtendedExtraBoldOblique.WOFF2') format('woff2'), url('Iosevka-ExtendedExtraBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('Iosevka-ExtraBoldItalic.WOFF2') format('woff2'), url('Iosevka-ExtraBoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: italic;
	src: url('Iosevka-ExtendedExtraBoldItalic.WOFF2') format('woff2'), url('Iosevka-ExtendedExtraBoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('Iosevka-Heavy.WOFF2') format('woff2'), url('Iosevka-Heavy.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: normal;
	src: url('Iosevka-ExtendedHeavy.WOFF2') format('woff2'), url('Iosevka-ExtendedHeavy.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('Iosevka-HeavyOblique.WOFF2') format('woff2'), url('Iosevka-HeavyOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('Iosevka-HeavyOblique.WOFF2') format('woff2'), url('Iosevka-HeavyOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: oblique;
	src: url('Iosevka-ExtendedHeavyOblique.WOFF2') format('woff2'), url('Iosevka-ExtendedHeavyOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	src: url('Iosevka-ExtendedHeavyOblique.WOFF2') format('woff2'), url('Iosevka-ExtendedHeavyOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('Iosevka-HeavyItalic.WOFF2') format('woff2'), url('Iosevka-HeavyItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: italic;
	src: url('Iosevka-ExtendedHeavyItalic.WOFF2') format('woff2'), url('Iosevka-ExtendedHeavyItalic.TTF') format('truetype');
}
